@import "~materialize-css/sass/materialize.scss";

div {
  text-align: center;
  color: #2c3e50;
}
.auth__wrapper {
  min-width: 315px;
  max-width: 800px;
}

.modal__form {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  .form__wrapper {
    border: 1px solid #bbb;
    border-radius: 5px;
  }
}


.search__wrapper {

  &__form {
    display: flex;
    justify-content: space-between;
  }

  .input-field {
    flex: 1 1;
    margin-right: 1rem;
  }
  .input__control {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.modal__layer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  z-index: 999;
  background-color: rgba(1, 26, 1, 0.5);
  position: absolute;
  left: 0;
  top: 0;


  .modal__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 10rem 5rem;
    color: #fff;
    height: 400px;
    background: #79f1f1;
    min-width: 320px;
    max-width: 800px;

    .modal__title {
      color: #fff;
      margin-bottom: 2rem;
   }

    .frm__control {
      margin-top: 1rem;
      margin-right: 1rem;
    }
  }
}

.user_avatar {
  height: 70px;
}

.select__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;

  .select__title {
    margin-right: 2rem;
    font-weight: bold;
  }

  .select__block {
    border: 3px solid #bbb;
    border-radius: 5px;
    font-size: 1rem;
  }
}


